.mat-form-field-infix {
    border-top: 0
}

.stop-scrolling {
    height  : 100vh !important;
    overflow: hidden;
}

/* CUSTOM  */
.bwhite {
    border-color: white;
    color       : white
}

.bowhite {
    background-color: white;
    border-color    : white;
    color           : var(--color-second)
}

.mxcontainer {
    max-width: 2227.2px;
}

.logo-text {
    color: white;
}

.header-link {
    color: white;
}

.header-menu {
    color           : var(--color-black) !important;
    background-color: var(--color-white) !important;
    height          : 100vh;
    width           : 100%;
}

.org-left:hover {
    border-left : .2em solid;
    border-color: var(--color-org);
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important
}

.h-total {
    height: 100vh !important
}

.mxh-total {
    max-height: 100vh !important;
    overflow  : hidden;
}

.crayo {
    background-color: var(--color-badge-rose);
    margin-top      : .05em;
    margin-right    : .05em;
    border-radius   : 0px 10px;
    padding         : .5em 1em;
    text-align      : center;
    color           : var(--color-white);
}

.rayo {
    padding     : 5px 0px;
    margin-right: 0;
}

/* FIXED */
.fixed-top {
    position: fixed;
    top     : 0;
    right   : 0;
    left    : 0;
    z-index : 1030
}

.fixed-bottom {
    position: fixed;
    right   : 0;
    bottom  : 0;
    left    : 0;
    z-index : 1030
}

/* BACKGROUND COLORS */
.bg-logos {
    background-image     : var(--url-logosBG);
    background-color     : var(--color-org);
    height               : 4em;
    overflow             : hidden;
    background-position-x: 150%;
    background-position-y: center;
    background-repeat    : no-repeat;
}

.bg-second {
    background-color: var(--color-second);
}

.bg-brown {
    background-color: var(--color-bg-brown);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-dark-gray {
    background-color: var(--color-darkgray);
}

.bg-org {
    background-color: var(--color-org);
}

.bgs-org {
    background-color: var(--colors-org);
}

.bg-white {
    background-color: var(--color-white);
}

.bg-gray {
    background-color: var(--color-gray);
}

.bgl-cyan {
    background-color: var(--colorl-cyan);
}

/* TEXT CUSTOM AND COLORS */
.txt-truncate {
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

.txt-start {
    text-align: left !important
}

.txt-end {
    text-align: right !important
}

.txt-center {
    text-align: center !important
}

.txt-link {
    text-decoration: none !important;
    color          : inherit !important;
    font-weight    : 700;
    color          : inherit !important;
}

.txt-white {
    color: var(--color-white) !important;
}

.txt-gray {
    color: var(--color-gray) !important;
}

.txt-dark-gray {
    color: var(--color-darkgray);
}

.txt-lt {
    color          : var(--color-gray) !important;
    text-decoration: line-through;
}

.txt-second {
    color: var(--color-second);
}

.txt-org {
    color: var(--color-org) !important;
}

.txt-cyan {
    color: var(--color-cyan) !important;
}

.txts-cyan {
    color: var(--colors-cyan) !important;
}

.txt-danger {
    color: var(--color-danger) !important;
}

.txt-blue {
    color: var(--color-blue);
}

.txt-black {
    color: var(--color-black);
}

.lowercase {
    text-transform: lowercase !important
}

.uppercase {
    text-transform: uppercase !important
}

.capitalize {
    text-transform: capitalize !important
}

/* ---------- FONTS STYLE - FAMILY ---------- */
/* FONT SIZE */
.fs-1 {
    font-size: calc(1.375em + 1.5vw) !important
}

.fs-2 {
    font-size: calc(1.325em + .9vw) !important
}

.fs-3 {
    font-size: calc(1.3em + .6vw) !important
}

.fs-4 {
    font-size: calc(1.275em + .3vw) !important
}

.fs-5 {
    font-size: 1.25em !important
}

.fs-6 {
    font-size: 1em !important
}

.fs-7 {
    font-size: .8em !important
}

/* LETTER SPACING */
.ls-1 {
    letter-spacing: 1px !important
}

.ls-xs {
    letter-spacing: .8px !important
}

/* FONT.LINE-HEIGHT */
.lh-1 {
    line-height: 1 !important
}

.lh-sm {
    line-height: 1.25 !important
}

.lh-base {
    line-height: 1.5 !important
}

.lh-lg {
    line-height: 2 !important
}

/* FONT BOLD */
.fw-light {
    font-weight: 300 !important
}

.fw-lighter {
    font-weight: lighter !important
}

.fw-normal {
    font-weight: 500 !important
}

.fw-bold {
    font-weight: 700 !important
}

.fw-semibold {
    font-weight: 600 !important
}

.fw-bolder {
    font-weight: bolder !important
}

/* ---------- FONT FAMILY ---------- */

.ffRB {
    font-family: 'Roboto Condensed', sans-serif !important;
}

/* ---------- BORDERS ---------- */
.border-0 {
    border: 0 !important
}

.border-1 {
    border: 1px solid !important
}

.border-2 {
    border: 2px solid !important
}

.border-3 {
    border: 3px solid !important
}

.border-4 {
    border: 4px solid !important
}

.border-5 {
    border: 5px solid !important
}

/* ---------- MARGINS ---------- */

.m-0 {
    margin: 0 !important
}

.m-1 {
    margin: .25em !important
}

.m-2 {
    margin: .5em !important
}

.m-3 {
    margin: 1em !important
}

.m-4 {
    margin: 1.5em !important
}

.m-5 {
    margin: 3em !important
}

.m-auto {
    margin: auto !important
}

.mx-0 {
    margin-right: 0 !important;
    margin-left : 0 !important
}

.mx-1 {
    margin-right: .25em !important;
    margin-left : .25em !important
}

.mx-2 {
    margin-right: .5em !important;
    margin-left : .5em !important
}

.mx-3 {
    margin-right: 1em !important;
    margin-left : 1em !important
}

.mx-4 {
    margin-right: 1.5em !important;
    margin-left : 1.5em !important
}

.mx-45 {
    margin-right: 2.3em !important;
    margin-left : 2.3em !important
}

.mx-5 {
    margin-right: 3em !important;
    margin-left : 3em !important
}

.mx-auto {
    margin-right: auto !important;
    margin-left : auto !important
}

.my-0 {
    margin-top   : 0 !important;
    margin-bottom: 0 !important
}

.my-1 {
    margin-top   : .25em !important;
    margin-bottom: .25em !important
}

.my-2 {
    margin-top   : .5em !important;
    margin-bottom: .5em !important
}

.my-3 {
    margin-top   : 1em !important;
    margin-bottom: 1em !important
}

.my-4 {
    margin-top   : 1.5em !important;
    margin-bottom: 1.5em !important
}

.my-5 {
    margin-top   : 3em !important;
    margin-bottom: 3em !important
}

.my-auto {
    margin-top   : auto !important;
    margin-bottom: auto !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-1 {
    margin-top: .25em !important
}

.mt-2 {
    margin-top: .5em !important
}

.mt-3 {
    margin-top: 1em !important
}

.mt-4 {
    margin-top: 1.5em !important
}

.mt-5 {
    margin-top: 3em !important
}

.mt-auto {
    margin-top: auto !important
}

.me-0 {
    margin-right: 0 !important
}

.me-1 {
    margin-right: .25em !important
}

.me-2 {
    margin-right: .5em !important
}

.me-3 {
    margin-right: 1em !important
}

.me-4 {
    margin-right: 1.5em !important
}

.me-5 {
    margin-right: 3em !important
}

.me-auto {
    margin-right: auto !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-1 {
    margin-bottom: .25em !important
}

.mb-2 {
    margin-bottom: .5em !important
}

.mb-3 {
    margin-bottom: 1em !important
}

.mb-4 {
    margin-bottom: 1.5em !important
}

.mb-5 {
    margin-bottom: 3em !important
}

.mb-auto {
    margin-bottom: auto !important
}

.ms-0 {
    margin-left: 0 !important
}

.ms-1 {
    margin-left: .25em !important
}

.ms-2 {
    margin-left: .5em !important
}

.ms-3 {
    margin-left: 1em !important
}

.ms-4 {
    margin-left: 1.5em !important
}

.ms-5 {
    margin-left: 3em !important
}

.ms-auto {
    margin-left: auto !important
}

/* ---------- PADDINGS ---------- */
.p-0 {
    padding: 0 !important
}

.p-1 {
    padding: .25em !important
}

.p-2 {
    padding: .5em !important
}

.p-3 {
    padding: 1em !important
}

.p-4 {
    padding: 1.5em !important
}

.p-5 {
    padding: 3em !important
}

.px-0 {
    padding-right: 0 !important;
    padding-left : 0 !important
}

.px-1 {
    padding-right: .25em !important;
    padding-left : .25em !important
}

.px-2 {
    padding-right: .5em !important;
    padding-left : .5em !important
}

.px-3 {
    padding-right: 1em !important;
    padding-left : 1em !important
}

.px-4 {
    padding-right: 1.5em !important;
    padding-left : 1.5em !important
}

.px-5 {
    padding-right: 3em !important;
    padding-left : 3em !important
}

.py-0 {
    padding-top   : 0 !important;
    padding-bottom: 0 !important
}

.py-1 {
    padding-top   : .25em !important;
    padding-bottom: .25em !important
}

.py-2 {
    padding-top   : .5em !important;
    padding-bottom: .5em !important
}

.py-3 {
    padding-top   : 1em !important;
    padding-bottom: 1em !important
}

.py-4 {
    padding-top   : 1.5em !important;
    padding-bottom: 1.5em !important
}

.py-5 {
    padding-top   : 3em !important;
    padding-bottom: 3em !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-1 {
    padding-top: .25em !important
}

.pt-2 {
    padding-top: .5em !important
}

.pt-3 {
    padding-top: 1em !important
}

.pt-4 {
    padding-top: 1.5em !important
}

.pt-5 {
    padding-top: 3em !important
}

.pe-0 {
    padding-right: 0 !important
}

.pe-1 {
    padding-right: .25em !important
}

.pe-2 {
    padding-right: .5em !important
}

.pe-3 {
    padding-right: 1em !important
}

.pe-4 {
    padding-right: 1.5em !important
}

.pe-5 {
    padding-right: 3em !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-1 {
    padding-bottom: .25em !important
}

.pb-2 {
    padding-bottom: .5em !important
}

.pb-3 {
    padding-bottom: 1em !important
}

.pb-4 {
    padding-bottom: 1.5em !important
}

.pb-5 {
    padding-bottom: 3em !important
}

.ps-0 {
    padding-left: 0 !important
}

.ps-1 {
    padding-left: .25em !important
}

.ps-2 {
    padding-left: .5em !important
}

.ps-3 {
    padding-left: 1em !important
}

.ps-4 {
    padding-left: 1.5em !important
}

.ps-5 {
    padding-left: 3em !important
}

/* ---------- ROUNDED ---------- */
.rounded-auto {
    border-radius: 0.375em;
}

.rounded-auto-end {
    border-top-right-radius: 0.375em;
    border-top-left-radius : 0.375em;
}

.rounded {
    border-radius: 0.375em !important
}

.rounded-0 {
    border-radius: 0 !important
}

.rounded-1 {
    border-radius: 0.25em !important
}

.rounded-2 {
    border-radius: 0.375em !important
}

.rounded-3 {
    border-radius: 0.5em !important
}

.rounded-4 {
    border-radius: 1em !important
}

.rounded-5 {
    border-radius: 2em !important
}

.rounded-circle {
    border-radius: 50% !important
}

.rounded-pill {
    border-radius: 50em !important
}

.rounded-top {
    border-top-left-radius : 0.375em !important;
    border-top-right-radius: 0.375em !important
}

.rounded-end {
    border-top-right-radius   : 0.375em !important;
    border-bottom-right-radius: 0.375em !important
}

.rounded-bottom {
    border-bottom-right-radius: 0.375em !important;
    border-bottom-left-radius : 0.375em !important
}

.rounded-start {
    border-bottom-left-radius: 0.375em !important;
    border-top-left-radius   : 0.375em !important
}

/* ---------- MATERIAL ---------- */
/* CARD MATERIAL */

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size : cover;
}

/* GRID MATERIAL */
mat-grid-tile {
    background: lightblue;
}

/* SHADOWS */
.buttonShadow {
    box-shadow: 0px 4px 10px #ECEFF1
}

/* IMAGES  */
.img-fluid {
    max-width: 100%;
    height   : auto
}

.img-logo {
    width: 2.5em !important;
}

.img-thunder {
    width : auto;
    height: calc(1em + 1vw) !important;
}

/* SVG */
.logoSVG {
    width    : 2em;
    height   : 2em;
    font-size: calc(1em + .5vw) !important;
}

/* Placeholder */
.pitalic {

    input,
    textarea::placeholder {
        font-style: italic !important;
    }
}

.pitalic2 {

    input,
    textarea::placeholder {
        font-style: italic !important;
        font-size : .8em !important
    }

    input,
    textarea::content {
        font-style: italic !important;
        font-size : .8em !important
    }
}