::root,
* {
    margin : 0;
    padding: 0;
}

html,
body {
    margin     : 0;
    padding    : 0;
    overflow-x : hidden;
    overflow-y : auto;
    font-family: var(--font-general-page);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border    : none;
    background: none
}

/* HIDE MS EDGE EYE */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.pStatic {
    position: static !important
}

.pRelative {
    position: relative !important
}

.pAbsolute {
    position: absolute !important
}

.pFixed {
    position: fixed !important
}

.pSticky {
    position: -webkit-sticky !important;
    position: sticky !important
}