@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* VARIABLES FONTS*/
    --font-general-page: 'Roboto Condensed', sans-serif;
    /* VARIABLES COLORS*/
    --color-org        : #E56A54;
    --colors-org       : #EB6852;
    --color-darkgray   : #55565a;
    --color-badge-rose : #FF5252;
    --color-white      : #FFFFFF;
    --color-black      : #000000;
    --color-gray       : #AFABAB;
    --color-cyan       : #2193EF;
    --colorl-cyan      : rgba(33, 150, 243, 0.12);
    --colors-cyan      : #0288D1;
    --color-second     : #382E2C;
    --color-danger     : #FF2A00;
    --color-bg-brown   : #372E2C;
    --color-blue       : #0047BA;
    /* URL IMAGRES */
    --url-logosBG      : url(../../images/logosbbg.png);
}