  @media only screen and (max-width: 599.98px) {
      .rounded-auto {
          border-radius: 0 !important;
      }

      .rounded-auto-end {
          border-top-right-radius: 0 !important;
          border-top-left-radius : 0 !important;
      }

      .mat-toolbar-row {
          padding: 0px !important;
      }

      .bg-logos {
          background-position: 11.7em -7.3em !important;
          height             : 3.5em !important;
      }

  }